{% extends 'base.html' %} {% block content %}

<!-- we_do -->
<div class="we_do">
    <div class="container">
        <br><br><br>
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage text_align_center">
                    <h2>What we do </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="we1" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#we1" data-slide-to="0" class="active"></li>
                        <li data-target="#we1" data-slide-to="1"></li>
                        <li data-target="#we1" data-slide-to="2"></li>
                        <li data-target="#we1" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container-fluid">
                                <div class="carousel-caption we1_do">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div id="bo_ho" class="we_box text_align_left">
                                                <i><img src="/static/images/we1.png" alt="#"/></i>
                                                <h3>Data <br>Analytics</h3>
                                                <p>As the process of analyzing raw data to find trends and answer questions, the definition of data analytics captures its broad scope of the field. However, it includes many techniques with many different goals.
                                                                                                </p>
                                                <a class="read_more" href="{% url 'main:about' %}">Read More</a>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div id="bo_ho" class="we_box text_align_left">
                                                <i><img src="/static/images/we1.png" alt="#"/></i>
                                                <h3>Django <br>web development</h3>
                                                <p>Django is a high-level Python web framework that enables rapid development of secure and maintainable websites. Built by experienced developers, Django takes care of much of the hassle of web development, so you can focus on writing your app without needing to reinvent the wheel. It is free and open source, has a thriving and active community, great documentation, and many options for free and paid-for support.
                                                                                </p>
                                                <a class="read_more" href="{% url 'main:about' %}">Read More</a>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div id="bo_ho" class="we_box text_align_left">
                                                <i><img src="/static/images/we1.png" alt="#"/></i>
                                                <h3>Android <br>App development</h3>
                                                <p>Android software development is the process by which applications are created for devices running the Android operating system. Google states that[3] "Android apps can be written using Kotlin, Java, and C++ languages" using the Android software development kit (SDK), while using other languages is also possible.  </p>
                                                <a class="read_more" href="{% url 'main:about' %}"">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container-fluid">
                                <div class="carousel-caption we1_do">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div id="bo_ho" class="we_box text_align_left">
                                                <i><img src="/static/images/we1.png" alt="#"/></i>
                                                <h3>React js</h3>
                                                <p>React.js is an open-source JavaScript library that is used for building user interfaces specifically for single-page applications. It’s used for handling the view layer for web and mobile apps. React also allows us to create reusable UI components.                                    </p>
                                                <a class="read_more" href="{% url 'main:about' %}"">Read More</a>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div id="bo_ho" class="we_box text_align_left">
                                                <i><img src="/static/images/we2.png" alt="#"/></i>
                                                <h3>Web<br>Analytics</h3>
                                                <p>Web analytics is the measurement, collection, analysis, and reporting of web data to understand and optimize web usage.[1] Web analytics is not just a process for measuring web traffic but can be used as a tool for business and market research and assess and improve website effectiveness.</p>
                                                <a class="read_more" href="{% url 'main:about' %}"">Read More</a>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div id="bo_ho" class="we_box text_align_left">
                                                <i><img src="/static/images/we3.png" alt="#"/></i>
                                                <h3>website <br>design</h3>
                                                <p>many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which
                                                </p>
                                                <a class="read_more" href="{% url 'main:about' %}">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container-fluid">
                                <div class="carousel-caption we1_do">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div id="bo_ho" class="we_box text_align_left">
                                                <i><img src="/static/images/we1.png" alt="#"/></i>
                                                <h3>Data<br>Structure</h3>
                                                <p>The data structure name indicates itself that organizing the data in memory. There are many ways of organizing the data in the memory as we have already seen one of the data structures, i.e., array in C language.  </p>
                                                <a class="read_more" href="{% url 'main:about' %}">Read More</a>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div id="bo_ho" class="we_box text_align_left">
                                                <i><img src="/static/images/we1.png" alt="#"/></i>
                                                <h3>website <br>development</h3>
                                                <p>many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which
                                                </p>
                                                <a class="read_more" href="{% url 'main:about' %}"">Read More</a>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div id="bo_ho" class="we_box text_align_left">
                                                <i><img src="/static/images/we1.png" alt="#"/></i>
                                                <h3>Machine <br>Learning</h3>
                                                <p>Machine learning (ML) is a field of inquiry devoted to understanding and building methods that 'learn', that is, methods that leverage data to improve performance on some set of tasks.[1] It is seen as a part of artificial intelligence. Machine learning algorithms build a model based on sample data, known as training data, in order to make predictions or decisions without being explicitly programmed to do so.</p>
                                                <a class="read_more" href="{% url 'main:about' %}">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#we1" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#we1" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end we_do -->

{% endblock %}