{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


{% if profileform %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-6 my-5 py-5">
            <form method="POST" enctype="multipart/form-data">
                {{profileform|crispy}}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Add a project</button>
            </form>
        </div>
    </div>
</div>
{% else %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-4 py-5 my-5">
            <div class="card">
                <img class="card-img-top" src="{{ profile.photo.url }}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Student Profile</h3>
                    <p class="lead">{{profile.full_name}}</p>
                    <p class="lead">{{profile.course}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-8 py-5 my-5">
            <h3>Create a New Project to Display</h3>
            <form method="POST" enctype="multipart/form-data">
                {{form |crispy}}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 py-5 my-5">
            <h1 class="display-4 mb-3">Your Project List</h1>
            <div class="row">

                {% for project in projects %}
                <div class="col-md-6">
                    <div class="card">
                        <img class="card-img-top" src="{{ project.hero_img.url }}" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title">Title : {{project.title}}</h3>
                            <p class="lead">Description :{{project.description}}</p>
                            <p class="lead">Likes :{{project.likes}}</p>
                            <p class="lead">Published on :{{project.added_on}}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'main:project_details' project.id %}" class="btn btn-primary">
                                View Project
                            </a>
                            <a href="{% url 'main:project_delete' project.id %}" class="btn btn-outline-danger">
                                delete Project
                            </a>
                            <a href="{% url 'main:project_edit' project.id %}" class="btn btn-outline-warning">
                                Edit Project
                            </a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <p>No Projects Added, fill the form to add your project</p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endif %}


{% endblock %}