<!-- footer -->
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
               
                <div class="col-md-3 col-sm-6">
                    <div class="Informa helpful">
                        <h3>Useful Link</h3>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="we_do.html">Dashboard</a></li>
                            <li><a href="portfolio.html">Projects</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="Informa">
                        <h3>News</h3>
                        <ul>
                            <li>It is a long established
                            </li>
                            <li>fact that a reader will
                            </li>
                            <li>be distracted by the
                            </li>
                            <li>readable content.
                            </li>
                            <li>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="Informa">
                        <h3>company</h3>
                        <ul>
                            <li>A platform which reaches out
                            </li>
                            <li>to its audiences to help
                            </li>
                            <li>them enrich their lives in a  </li>
                            <li>bigger manner through specializations in various
                            </li>
                            <li>fields.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="Informa conta">
                        <h3>contact Us</h3>
                        <ul>
                            <li>
                                <a href="Javascript:void(0)"> <i class="fa fa-map-marker" aria-hidden="true"></i> Location
                                </a>
                            </li>
                            <li> <a href="Javascript:void(0)"><i class="fa fa-phone" aria-hidden="true"></i> Call +01 1234567890
                              </a>
                            </li>
                            <li>
                                <a href="Javascript:void(0)"> <i class="fa fa-envelope" aria-hidden="true"></i> demo@gmail.com
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright text_align_left">
            <div class="container">
                <div class="row d_flex">
                    <div class="col-md-6">
                        <p>© 2020 All Rights Reserved. <a href="https://html.design/"> Free Html Template</a></p>
                    </div>
                    <div class="col-md-6">
                        <ul class="social_icon text_align_center">
                            <li> <a href="Javascript:void(0)"><i class="fa fa-facebook-f"></i></a></li>
                            <li> <a href="Javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                            <li> <a href="Javascript:void(0)"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            <li> <a href="Javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li> <a href="Javascript:void(0)"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->
<!-- Javascript files-->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/jquery-3.0.0.min.js"></script>
<script src="/static/js/custom.js"></script>

<script>
    function read_more_less()
    {
        var dots=document.getElementById('dots');
        var moretext=document.getElementById('more');
        var mybtn=document.getElementById('mybtn');
        if(dots.style.display==='none')
        {
           dots.style.display='inline';
           moretext.style.display='none';
           mybtn.innerHTML="Read more";

        }
        else{
            dots.style.display='none';
           moretext.style.display='inline';
           mybtn.innerHTML="Read less";

            

        }
    }
    function read()
    {
        var pots=document.getElementById('pots');
        var moretext_1=document.getElementById('rd');
        var mybtn1=document.getElementById('mybtn1');
        if(pots.style.display==='none')
        {
           pots.style.display='inline';
           moretext_1.style.display='none';
           mybtn1.innerHTML="Read more";

        }
        else{
            pots.style.display='none';
           moretext_1.style.display='inline';
           mybtn1.innerHTML="Read less";

            

        }
    }
    function abc()
    {
        var sots=document.getElementById('sots');
        var moretext_2=document.getElementById('ad');
        var mybtn3=document.getElementById('mybtn3');
        if(sots.style.display==='none')
        {
           sots.style.display='inline';
           moretext_2.style.display='none';
           mybtn3.innerHTML="Read more";

        }
        else{
            sots.style.display='none';
           moretext_2.style.display='inline';
           mybtn3.innerHTML="Read less";

            

        }
    }
    function sun()
    {
        var hots=document.getElementById('hots');
        var moretext_4=document.getElementById('dd');
        var mybtn4=document.getElementById('mybtn4');
        if(hots.style.display==='none')
        {
           hots.style.display='inline';
           moretext_4.style.display='none';
           mybtn4.innerHTML="Read more";

        }
        else{
            hots.style.display='none';
           moretext_4.style.display='inline';
           mybtn4.innerHTML="Read less";

            

        }
    }
    function bun()
    {
        var cots=document.getElementById('cots');
        var moretext_5=document.getElementById('cd');
        var mybtn5=document.getElementById('mybtn5');
        if(cots.style.display==='none')
        {
           cots.style.display='inline';
           moretext_5.style.display='none';
           mybtn5.innerHTML="Read more";

        }
        else{
            cots.style.display='none';
           moretext_5.style.display='inline';
           mybtn5.innerHTML="Read less";

            

        }
    }
    function dun()
    {
        var mots=document.getElementById('mots');
        var moretext_6=document.getElementById('md');
        var mybtn7=document.getElementById('mybtn7');
        if(mots.style.display==='none')
        {
           mots.style.display='inline';
           moretext_6.style.display='none';
           mybtn7.innerHTML="Read more";

        }
        else{
            mots.style.display='none';
           moretext_6.style.display='inline';
           mybtn7.innerHTML="Read less";

            

        }
    }
   
   
</script>
</body>

</html>
