{% extends 'base.html' %}
{% block content %}

<!-- portfolio -->
<div class="portfolio">
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage text_align_left">
                    <h2>Featured Projects</h2>
                </div>
            </div>
        </div>
        <div class="row">

            {% for project in projects %}
            <div class="col-md-6">
                <div id="ho_nf" class="portfolio_main text_align_left">
                    <figure>
                        <img src="{{project.hero_img.url}}" class="card-img-top" alt="#" height="200px" />
                        <div class="portfolio_text">
                            <div class="li_icon">
                                <a><i class="fa fa-thumbs-up" aria-hidden="true"></i> {{project.likes}}</a>
                                <a href="{% url 'main:project_details' project.id %}"><i class="fa fa-link"
                                        aria-hidden="true"></i></a>
                            </div>
                            <h3>
                                <a href="{% url 'main:project_details' project.id %}">{{project.title}}</a>
                            </h3>
                            <p>{{project.description|truncatechars:250}}
                                <a href="{% url 'main:project_details' project.id %}">
                                    Read More
                                </a>
                            </p>
                        </div>
                    </figure>
                </div>
            </div>

            {% empty %}
            h3>No Projects Available</h3>
            {% endfor %}

        </div>
    </div>
</div>
<!-- end portfolio -->
<script>

</script>
{% endblock %}